<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    >
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../assets/css/layout.css">
    <link rel="stylesheet" href="../../assets/css/user.css">
    
    <title>Blibli - Kindle</title>
  </head>
  <body>
    <!-- Navbar Start -->    
    <nav class="navbar navbar-fixed-top">
      <a class="navbar-brand" href="#">bli-kindle</a>
      <div class="nav-items">
        <div class="nav-item">
          <a href="#"><img src="../../assets/img/like.svg"></a>
        </div>
        <div class="nav-item">
          <a href="#"><img src="../../assets/img/shopping-cart.svg"></a>
        </div>
        <div class="nav-item dropdown">
          <a
            href="#"
            id="navbarDropdown" 
            role="button" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"
          >
            <img src="../../assets/img/avatar.svg">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">My Order</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->    

    <!-- Content Start -->    
    <div class="container-fluid">
      <div class="row">
        <div class="col col-xs-12">
          <span class="content-tab active-tab">
            ALL            
          </span>
          <span class="content-tab">
            |
          </span>
          <span class="content-tab">
            DOWNLOAD
          </span>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-center book-wrapper-home">
          <div class="p-2 flex-fill">
            <img src="../../assets/img/book-example.svg">
          </div>
          <div class="p-2 flex-fill">
            <img src="../../assets/img/book-example.svg">
          </div>
          <div class="p-2 flex-fill">
            <img src="../../assets/img/book-example.svg">
          </div>
          <div class="p-2 flex-fill">
            <img src="../../assets/img/book-example.svg">
          </div>
          <div class="p-2 flex-fill">
            <img src="../../assets/img/book-example.svg">
          </div>
          <div class="p-2 flex-fill">
            <img src="../../assets/img/book-example.svg">
          </div>
          <div class="p-2 flex-fill">
            <img src="../../assets/img/book-example.svg">
          </div>
          <div class="p-2 flex-fill">
            <img src="../../assets/img/book-example.svg">
          </div>
          <div class="p-2 flex-fill">
            <img src="../../assets/img/book-example.svg">
          </div>
        </div>
      </div>
    </div>
    <!-- Content End -->    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>