<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../assets/css/layout.css" />
    <link rel="stylesheet" href="../../assets/css/user.css" />

    <title>Blibli - Kindle</title>
  </head>

  <body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-fixed-top">
      <a class="navbar-brand" href="#">bli-kindle</a>
      <div class="nav-items">
        <div class="nav-item">
          <a href="wishlist.html"><img src="../../assets/img/like.svg"/></a>
        </div>
        <div class="nav-item">
          <a href="cart.html"
            ><img src="../../assets/img/shopping-cart.svg"
          /></a>
        </div>
        <div class="nav-item dropdown">
          <a
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img src="../../assets/img/avatar.svg" />
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdown"
          >
            <a class="dropdown-item" href="order.html">My Order</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="profile.html">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Content Start -->
    <div class="container-fluid p-5">
      <!-- Merchant details -->
      
      <div class="container-fluid mx-3 my-3 border-bottom border-dark">
        <div class="row merchant-title">Gramedia</div>
        <div class="row description-title">0812 5597 0836</div>
        <div class="row description-content my-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus
          ligula sapien, a blandit leo lacinia id. Phasellus volutpat tempor
          enim, at maximus diam tincidunt id. Morbi hendrerit ipsum a dignissim
          sagittis. Vestibulum pharetra egestas lorem sed volutpat. Fusce in
          neque lacus. Nullam eu condimentum tellus. Sed porta ligula ut
          porttitor sollicitudin. Nam tincidunt tempus turpis, ac euismod justo
          dictum sit amet. Mauris diam odio, elementum eget gravida vitae,
          iaculis at dui. Vivamus elementum tristique magna ut ornare. Fusce
          massa urna, rutrum in euismod a, faucibus in leo. Nullam pretium
          commodo tristique. Duis id eros nisi.
        </div>
      </div>
      <!-- Book Catalog -->
      <div class="col-sm">
        <div class="row description-title p-4">Catalog</div>
        <div class= "row d-flex flex-row flex-wrap">
          <img class="m-1"
            src="../../assets/img/book-example.svg"
          />
          <img class="m-1"
            src="../../assets/img/book-example.svg"
          />
          <img class="m-1"
            src="../../assets/img/book-example.svg"
          />
          <img class="m-1"
            src="../../assets/img/book-example.svg"
          />
        </div>
      </div>
    </div>
    <!-- Content End -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
