@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #000000;
  min-height: 100vh;
}

.navbar {
  height: 64px;
  background: #0095DA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
  font-weight: 800;
  color: white;
  font-size: 18px;
}

.nav-items {
  display: flex;
  flex-wrap: nowrap; 
}

.nav-item {
  margin-left: 20px;
}

.dropdown-item {
  font-size: 12px;
}

.container-fluid {
  padding: 15px;
}

.content-tab {
  font-size: 12px;
}

.content-price{
  font-size: 2em;
  color: #0095DA;
}

.order-detail{
  margin: 1% 1% 1% 1%;
  padding: 1% 1% 1% 1%;
  border-bottom: 1px solid black;
}

.detail-button{
  border: 1px solid #0095DA;
  color: #0095DA;
  font-size: 1rem;
}

.form-container{
  padding: 5% 10% 10% 10%;
}

.book-title{
  font-weight: bolder;
  font-size: 1.25rem;
}

.book-title-large{
  font-weight: bolder;
  font-size: 1.5rem;
}

.book-publisher-large{
  font-weight: bold;
  font-size: 1.25rem;
  color: #0095DA;
}

.book-publisher{
  font-weight: bold;
  font-size: 0.75rem;
  color: #0095DA;
}

.book-price{
  font-weight: bold;
  font-size: 1.25rem;
  color: #0095DA;
}

.book-price-large, .merchant-title{
  font-weight: bold;
  font-size: 1.5rem;
  color: #0095DA;
}

.description-title{
  font-weight: bold;
  font-size: 1rem;
}

.book-author-large, .book-year-large, .book-genres-large, .book-color-large, .description-content{
  font-size: 1rem;
}

.buy-button{
  background-color: #0095DA;
  font-size: 1rem;
  color: white;
}

.delete-button{
  border: 1px solid white;
  background-color: #0095DA;
  font-size: 1rem;
  color: white;
}

.total-price{
  font-size: 1.25rem;
}

.total-price .price{
  font-weight: bolder;
}

.active-tab {
  font-weight: bold;
}

.purchase-item-container{
  border-bottom: 1px solid black;
}

.sign-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-wrapper {
  min-width: 288px;
  padding: 40px 23px; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.big-logo {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  color: #0095DA;
  margin-bottom: 20px;
}

.sign-input-label {
  font-weight: 600;
  color: #888888;
}

.sign-input-box {
  font-size: 10px;
  height: 40px;
}

.btn-sign {
  width: 100%;
  font-weight: 600;
  font-size: 10px;
  background: #0095DA;
  height: 40px;
  margin-bottom: 10px;
}

.sign-note {
  font-weight: 600;
  font-size: 8px;
  color: #888888;
  text-align: center;
}

.sign-note a {
  color: #0095DA;
}